# Passed to `docker compose --env-file`; copy values into the SOPS-managed
# grading-platform environment file on Astrid.
AUTOLAB_IMAGE=ghcr.io/ls1-courses/autolab:3.0.2-96006d5
TANGO_IMAGE=ghcr.io/ls1-courses/tango-kubernetes:7f3f743f244d8e329cc143687e0f45fd08057ed3

MYSQL_DATABASE=autolab_production
MYSQL_USER=autolab
MYSQL_PASSWORD=<generate>
MYSQL_ROOT_PASSWORD=<generate>

RESTFUL_KEY=<generate>
SECRET_KEY_BASE=<generate>
LOCKBOX_MASTER_KEY=<generate>
DEVISE_SECRET_KEY=<generate>
