AUTOLAB_IMAGE=ghcr.io/ls1-courses/autolab:3.0.2-96006d5

MYSQL_DATABASE=autolab_production
MYSQL_USER=autolab
MYSQL_PASSWORD=<generate>
MYSQL_ROOT_PASSWORD=<generate>

RESTFUL_KEY=<same-value-as-tango>
SECRET_KEY_BASE=<generate>
LOCKBOX_MASTER_KEY=<generate>
DEVISE_SECRET_KEY=<generate>
