server {
  listen 80;
  listen [::]:80;
  server_name grading.dos.cit.tum.de;
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name grading.dos.cit.tum.de;

  ssl_certificate {{ tls_certificate_file }};
  ssl_certificate_key {{ tls_certificate_key_file }};
  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_session_cache shared:grading_tls:10m;
  ssl_session_timeout 1d;
  ssl_session_tickets off;

  client_max_body_size 250m;

  location / {
    proxy_pass http://127.0.0.1:8080;
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}
